extends layout

block content
  table
    thead
      tr
        th
          | Id
        th
          | Name
        th
          | Price
    tbody
      each product in products
        tr
          td=product.id
          td= product.name
          td= product.price
